
.book-page {
    min-height: 100vh;    
    display: flex;
    flex-direction: column;   
}

.book {
    height: 800px;
    width: 1000px;
    border-radius: 20px;
    list-style-type: none;
    padding: 20px;
    margin: 80px;
    margin-bottom: 40px;
    margin-left: calc(calc(100% - 1000px)/2);
    background: #ECE4DA;
    text-align: center;
}


.book p{
    margin: 20px
}

.button-group {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    
}

.book-header, .book-footer{
    height: 120px;
    width: 100%;
    background-color: #50785C;
    text-align: center;
    align-content: center;
    flex:1
}

.book-button{
    font-size: 15px;
    background-color:#574C3F;
    color: white;
    border-radius: 60px;
    width: 150px;
    height: 40px;
    margin-left: 10px;
}

.note {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 800px;
    border-radius: 20px;
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    background: #ECE4DA;
    margin-left: calc(calc(100% - 800px)/2);
    text-align: center;
    align-items: center;
}

.note-text{
    width: 900px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    resize: vertical;
}

.delete-note {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #574C3F;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    height: 25px;
    width: 100px;
}