/*  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
.list-page {
    /* min-height: 100vh;     */
    height: 810px;
    display: flex;
    flex-direction: column;   
    justify-content: center;

}

.bookbox {
    height: 600px;
    width: 1200px;
    border-radius: 20px;
    list-style-type: none;
    padding: 20px;
    margin: 40px;
    background: #ECE4DA;
    margin-left: 140px;
    /* margin-left: calc(calc(100% - 1000px)/2); */
}
.book-tile {
    color: white;
    padding: 10px;
    background: #574C3F;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}

.bookbox {
    display: grid;
    column-gap: 60px;
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, calc(20% - 20px));
    grid-template-rows: repeat(3, calc(33.33% - 20px));
}

.list-header{
    height: 120px;
    width: 100%;
    margin-top: -100px;
    text-align: center;
    align-content: center;
    flex:1;
    color: #574C3F;
    text-decoration: none;
}

.temp-hyperlink {
    color: white; 
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.temp-hyperlink:hover {
    color: #03111f; 
}

.add-button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: -100px;
    margin-left: calc(50% - 50px);
    background-color: #574C3F;
    color: white;
}
.back-button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #574C3F;
    color: white;
    margin-left: 10px;
}
