@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.lists-page {
    min-height: 100vh;   
    display: flex;
    flex-direction: column;
    text-align: center;   
    align-items: center;
}

.lists-page h1{
    text-align: center;
    color: #574C3F;
    padding: 20px;
    width: auto;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -15px;
}

.list-box{
    height: 150px;
    width: 40%;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ECE4DA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #574C3F;
    
}

.lists-header, .lists-footer{
    height: 10px;
    width: 100%;
    background-color: #50785C;
    text-align: center;
    align-content: center;
    flex:1
}

.temp-hyperlink {
    color: #574C3F; 
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.temp-hyperlink:hover {
    color: #03111f; 
}

.addList {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #574C3F;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    height: 25px;

}

.deleteList {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #574C3F
    ;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    height: 25px;
}

.list-link {
    color: black;
}