@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.header{
    padding: 25px;
    background-color: #ECE4DA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.profile{
    float: right;
    margin-right: 40px;
    background: none; 
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 5px; */

    /* margin-top: 10px; */
}
.navLinks{
    display: flex;
    gap: 15px;
}
.navLinks a {
    text-decoration: none; /* Remove underline */
    color: #574C3F; 
    font-size: 20px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
.img{
    width: 110px;
    height: 70px;
}